---
import { Image } from "astro:assets";

const { href, img, alt, nameJa, nameEn, role } = Astro.props;
---

<li class="team swiper-slide">
  <a href={href}>
    <div class="imgBox mb-7">
      <!--Optimizes for best/fastest possible image -->
      <Image
        src={img}
        alt={alt}
        width={img.width}
        height={img.height}
        class="aspect-[4/3] object-cover"
      />
    </div>
    <h4 class="role mb-9">{role}</h4>
    <h3 class="text-4xl title mb-7">
      {nameJa}<span class="pl-5 text-xl enTitle">{nameEn}</span>
    </h3>
    <div class="text-xl font-normal leading-10 tracking-wider">
      <slot />
    </div>
  </a>
</li>
